* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#game {
    background-color: #e3f1ff;
    border: rgb(231, 231, 231) 0.4rem solid;
    border-radius: 1rem;
}

.buttons-section {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    flex-wrap: wrap;
}

.arrows {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 25%;
    gap: 0.4rem;
}

.bttn {
    color: rgb(163, 92, 0);
    background-color: #eeff00;
    padding: 1.2rem;
    border-radius: 1rem;
    border: 1rem solid rgb(255, 196, 0);
    font-weight: bold;
}

.b1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.b2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.b3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.b4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.restart-btn {
    border-radius: 50%;
    height: 10rem;
}

.info {
    color: white;
    font-size: 2rem;
}

