* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#game {
    background-color: #e3f1ff;
    border: rgb(231, 231, 231) 0.4rem solid;
    border-radius: 1rem;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    gap: 2rem;
}

.bttn {
    color: white;
    background-color: #8EC5FC;
    width: 6rem;
    height: 4rem;
    border-radius: 1rem;
    border: none;
}

.info {
    color: white;
    font-size: 2rem;
}

